<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="who are u?">
        <textarea name="msg"  cols="30" rows="10"></textarea>
        <input type="text" name="to" placeholder="whom u want to send msg">
        <button>submit</button>
    </form>
</body>
</html>