<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home</h1>
    <h2> <%= "apnacollege".toUpperCase() %> </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quaerat hic nesciunt excepturi voluptatibus veritatis quia amet. Quia, aperiam qui labore quisquam cumque, illum, optio repudiandae inventore dolorum fugiat est.

    </p>
    <button>submit</button>
</body>
</html>