<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/home" method="post">
        <label for="username">username</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="iamge">image</label>
        <input type="file" name="image" id="image">
        <br>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <br>
        <button>submit</button>
    </form>
</body>
</html>